pipeline/copyonpremtocloud.json
{
	"name": "copyonpremtocloud",
	"properties": {
		"activities": [
			{
				"name": "ForEachtable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getMETADATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getMETADATA').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copyonpremtocloud",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "getOLDWM",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "getNEWWM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * \nfrom @{item().TABLE_NAME}\nwhere @{item().WATER_MARK_COL} between '@{activity('getOLDWM').output.firstRow.water_mark_col}' and '@{activity('getNEWWM').output.firstRow.newwm}' \n                   ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": {
											"value": "@item().MERGE_AT",
											"type": "Expression"
										}
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"validateDataConsistency": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "onprem_dataset",
									"type": "DatasetReference",
									"parameters": {
										"source_table": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "cloud_dataset",
									"type": "DatasetReference",
									"parameters": {
										"dest_table": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "getOLDWM",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select water_mark_col\nfrom watermark\nwhere table_name='@{item().TABLE_NAME}';",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "cloud_dataset",
									"type": "DatasetReference",
									"parameters": {
										"dest_table": "@item().TABLE_NAME"
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "getNEWWM",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select max(@{item().WATER_MARK_COL}) \"newwm\" from @{item().TABLE_NAME};",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "onprem_dataset",
									"type": "DatasetReference",
									"parameters": {
										"source_table": "@item().TABLE_NAME"
									}
								}
							}
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copyonpremtocloud",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[up_water_mark_table]",
								"storedProcedureParameters": {
									"lastmodified": {
										"value": {
											"value": "@activity('getNEWWM').output.firstRow.newwm",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tablename": {
										"value": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "cloudserver",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "getMETADATA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "metadata_file",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-03-14T00:52:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}